@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

form {
  width: 80%;
}

#side-form {
  margin: 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  background-color: hsl(208, 100%, 95%);
}

#side-form input {
  font-size: 1rem;
  padding: 1.2%;
  margin: 1.5%;
}

#checkbox-button label {
  color: hsl(208, 100%, 30%);
  font-size: 0.9rem;
}

#add-book:hover {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(208, 100%, 87%);
}

main {
  display: flex;
  margin: 5%;
  padding: 2%;
  background-color: hsl(208, 100%, 95%);
  width: 85%;
}

#books-list {
  width: 100%;
}

#book-requirements tr td {
  text-align: center;
  font-weight: bolder;
}

#table-body tr td {
  text-align: center;
}

#table-body tr td button {
  line-height: 3;
  border: none;
  background-color: hsl(208, 100%, 95%);
  padding: 1%;
  width: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  body {
    margin-top: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  main {
    margin: 5%;
    padding: 2%;
    background-color: hsl(208, 100%, 95%);
    width: 75%;
  }
}
