@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
#side-form {
  margin: 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  background-color: hsl(208, 100%, 95%);
}

#side-form input {
  margin: 2%;
}

#checkbox-button label {
  color: hsl(208, 100%, 30%);
}

#add-book:hover {
  background-color: hsl(208, 100%, 87%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(208, 100%, 87%);
}

main {
  margin: 5%;
  padding: 2%;
  background-color: hsl(208, 100%, 95%);
}

#book-requirements {
  background-color: aliceblue;
}

#book-requirements tr td {
  font-size: 1.05rem;
  font-weight: bolder;
}

#table-body tr td {
  font-size: 0.95rem;
  text-align: center;
}

#table-body tr td button {
  line-height: 3;
  border: none;
  background-color: hsl(208, 100%, 95%);
  padding: 1%;
  width: 30px;
  cursor: pointer;

}

@media only screen and (min-width: 700px) {
  body {
    margin-top: 10%;
    flex-direction: row;
  }
}
